<section id="chocolate-is-loved" class="chocolate-is-loved-section">
  <div class="container">
    <h2 class="chocolate-is-loved-title">
      <span class="chocolate-is-loved-span">chocolate</span> is loved
    </h2>

    <div class="chocolate-is-loved-slider">
      <div class="chocolate-is-loved-cnt">
        <img
          srcset="./img/slider-photo-1-2X.jpg 2x"
          src="./img/slider-photo-1-1X.jpg"
          alt="red hair female"
          class="slide-photo"
        />

        <div class="inner-cnt">
          <h3 class="chocolate-loved-names">Victoria Dobrzhanska</h3>
          <p class="chocolate-loved-text">
            I love this chocolate bar. Perfect combination of light crispy
            wafer, covered in a thin layer chocolate.
          </p>
        </div>
      </div>

      <div class="chocolate-is-loved-cnt">
        <img
          srcset="./img/slider-photo-2-2X.jpg 2x"
          src="./img/slider-photo-2-1X.jpg"
          alt="male"
          class="slide-photo"
        />

        <div class="inner-cnt">
          <h3 class="chocolate-loved-names">Nazar Babenko</h3>
          <p class="chocolate-loved-text">
            This chocolate confection is a delight! A delight! The wafer is
            light and crisp, the hazelnut cream is smooth, and the chocolate is
            good.
          </p>
        </div>
      </div>

      <div class="chocolate-is-loved-cnt">
        <img
          srcset="./img/slider-photo-3-2X.jpg 2x"
          src="./img/slider-photo-3-1X.jpg"
          alt="brown hair female"
          class="slide-photo"
        />

        <div class="inner-cnt">
          <h3 class="chocolate-loved-names">Olena Kampusch</h3>
          <p class="chocolate-loved-text">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </div>
      </div>

      <div class="chocolate-is-loved-cnt">
        <img
          srcset="./img/slider-photo-4-2X.jpg 2x"
          src="./img/slider-photo-4-1X.jpg"
          alt="red hair female"
          class="slide-photo"
        />

        <div class="inner-cnt">
          <h3 class="chocolate-loved-names">Natalia Sus</h3>
          <p class="chocolate-loved-text">
            The chocolate assortment was delicious. Both dark and milk chocolate
            pieces were smooth and just right on the sweetness level.
          </p>
        </div>
      </div>

      <div class="chocolate-is-loved-cnt">
        <img
          srcset="./img/slider-photo-5-2X.jpg 2x"
          src="./img/slider-photo-5-1X.jpg"
          alt="male"
          class="slide-photo"
        />

        <div class="inner-cnt">
          <h3 class="chocolate-loved-names">Danilo Nottingham</h3>
          <p class="chocolate-loved-text">
            This is delicious. It so rich and flavorful you don`t need to use as
            many. I love topping an apple with almond butter and these chips for
            a snack.
          </p>
        </div>
      </div>

      <div class="chocolate-is-loved-cnt">
        <img
          srcset="./img/slider-photo-6-2X.jpg 2x"
          src="./img/slider-photo-6-1X.jpg"
          alt="female"
          class="slide-photo"
        />

        <div class="inner-cnt">
          <h3 class="chocolate-loved-names">Irina Tydnyuk</h3>
          <p class="chocolate-loved-text">
            This is simply the best chocolate around, and I'm just thrilled to
            support a local company! Best local chocolate - world class :&#41;
          </p>
        </div>
      </div>
    </div>
    <div class="choco-loved-btn-cnt">
      <button
        type="button"
        class="chocolate-is-loved-button"
        data-modalreview-open
      >
        Leave a review
      </button>
    </div>
  </div>
</section>
