<section class="components-sec" id="unique-components">
  <div class="container">
    <h1 hidden></h1>
    <h2 class="header-components">
      IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span class="style-taste">TASTE</span> SENSATION
    </h2>
    <p class="text-about-choc">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <div class="width-comp">
      <ul class="ul-components">
        <li class="box-style item-1">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/components/milkchok_desk@1x.png 206w,
                ./img/components/milkchok_desk@2x.png 412w
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/components/milkchocolate_tab@1x.png 224w,
                ./img/components/milkchocolate_tab@2x.png 448w
              "
              type="image/png"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./img/components/milkchocolate@1x.png 224w,
                ./img/components/milkchocolate@2x.png 448w
              "
              type="image/png"
            />
            <img
              src="./img/components/milkchocolate@1x.png"
              alt="Milk chocolate"
              class="images-components"
              width="224"
            />
          </picture>
          <p class="text-products-light">MILK CHOCOLATE</p>
          <!-- </div> -->

          <div class="overlay-comp">
            <!-- <div class="overlay-comp-cont"> -->

            <h3 class="header-three-comp">Milk chocolate</h3>
            <ul class="list-btn-comp">
              <li><button type="button" class="btn-comp">chocolate</button></li>
              <li>
                <button type="button" class="btn-comp">the benefits</button>
              </li>
            </ul>
            <p class="text-overlay">
              Milk chocolate is a solid chocolate confectionery containing
              cocoa, sugar and milk. It is the most consumed type of chocolate.
              Chocolate was originally sold and consumed as a beverage in
              pre-Columbian times. Although four-fifths of all milk chocolate is
              sold in the United States and Europe.
            </p>
          </div>
        </li>

        <li class="box-style item-2">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/components/milk_desk@1x.png 206w,
                ./img/components/milk_desk@2x.png 412w
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/components/milk_tab@1x.png 224w,
                ./img/components/milk_tab@2x.png 448w
              "
              type="image/png"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./img/components/milk_mob@1x.png 224w,
                ./img/components/milk_mob@2x.png 448w
              "
              type="image/png"
            />
            <img
              src="./img/components/milk_mob@1x.png"
              alt="Milk"
              class="images-components"
              width="224"
            />
          </picture>
          <p class="text-products-light dark">Milk</p>
          <div class="overlay-comp">
            <h3 class="header-three-comp">Milk</h3>
            <ul class="list-btn-comp">
              <li><button type="button" class="btn-comp">milk</button></li>
              <li>
                <button type="button" class="btn-comp">the benefits</button>
              </li>
            </ul>

            <p class="text-overlay">
              Milk is a white liquid food produced by the mammary glands of
              mammals. It is the primary source of nutrition for young mammals
              (including breastfed human infants) before they are able to digest
              solid food.Early-lactation milk, which is called colostrum,
              contains antibodies that strengthen the immune system.
            </p>
          </div>
        </li>
        <li class="box-style item-3">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/components/nuts_desk@1x.png 206w,
                ./img/components/nuts_desk@2x.png 412w
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/components/nuts_tab@1x.png 224w,
                ./img/components/nuts_tab@2x.png 448w
              "
              type="image/png"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./img/components/nuts_mob@1x.png 224w,
                ./img/components/nuts_mob@2x.png 448w
              "
              type="image/png"
            />
            <img
              src="./img/components/nuts_mob@1x.png"
              alt="Nuts"
              class="images-components"
              width="224"
            />
          </picture>
          <p class="text-products-light">nuts</p>
          <div class="overlay-comp">
            <h3 class="header-three-comp">nuts</h3>
            <ul class="list-btn-comp">
              <li><button type="button" class="btn-comp">nuts</button></li>
              <li>
                <button type="button" class="btn-comp">the benefits</button>
              </li>
            </ul>

            <p class="text-overlay">
              Almonds, pistachios, and walnuts are some types of nuts that
              contain healthy nutrients. When eaten as part of a nutrient-dense
              diet, these 9 nuts may offer benefits such as reducing your risk
              of heart disease. They’re a good source of fiber, healthy fats,
              and plant protein. Plus, they’re great on their own.
            </p>
          </div>
        </li>
        <li class="box-style item-4">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/components/semi_desk@1x.png 206w,
                ./img/components/semi_desk@2x.png 412w
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/components/semi_tab@1x.png,
                ./img/components/semi_tab@2x.png 448w
              "
              type="image/png"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./img/components/semi_mob@1x.png 224w,
                ./img/components/semi_mob@2x.png 448w
              "
              type="image/png"
            />
            <img
              src="./img/components/semi_mob@1x.png"
              alt="Semi-sweet chocolate"
              class="images-components"
              width="224"
            />
          </picture>
          <p class="text-products-light dark">SEMI - SWEET CHOCOLATE</p>
          <div class="overlay-comp">
            <h3 class="header-three-comp">semi - sweet chocolate</h3>
            <ul class="list-btn-comp">
              <li>
                <button type="button" class="btn-comp">sweet chocolate</button>
              </li>
              <li>
                <button type="button" class="btn-comp">the benefits</button>
              </li>
            </ul>
            <div class="hidden">
              <p class="text-overlay">
                Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One
                of the best ways to gain an understanding of this type of
                chocolate is to compare it to a different type of chocolate.
                Semisweet is darker than milk chocolate. In a taste comparison,
                it has a slightly bitter taste whereas milk chocolate is
                sweeter.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
