<section class="footer-section">
  <div class="footer-container">
    <h2 class="footer-title">
      <span class="footer-marked-word">Chocolate</span> a delicious cure for a
      bad day
    </h2>
    <p class="footer-contacts-text">Contact us</p>
    <ul>
      <a href="" type="tel"
        >Contact us +380 (68) 443-94-26 simplychoc@gmail.com</a
      >
      <a href="" type="email">simplychoc@gmail.com</a>
    </ul>
    <ul>
      <li>
        <a href="">Home</a>
      </li>
      <li><a href="">How it's made</a></li>
      <li><a href="">Our products</a></li>
      <li><a href="">Top selelrs</a></li>
      <li><a href="">Chocolate is loved</a></li>
    </ul>
  </div>
</section>
