<section id="footer" class="footer-section">
  <div class="container">
    <div class="footer-wrapper">
      <h2 class="footer-title">
        <span class="footer-marked-word">Chocolate</span> a delicious cure for a
        bad day
      </h2>
      <div class="footer-adress-wrapper">
        <address class="footer-contacts">
          <p class="footer-contacts-text">Contact us</p>
          <ul class="footer-contacts-list">
            <a class="footer-contacts-item" href="tel:+380684439426" type="tel"
              >+380 (68) 443-94-26</a
            >
            <a
              class="footer-contacts-item footer-contacts-email"
              href="mailto:simplychoc@gmail.com"
              type="email"
              >simplychoc@gmail.com</a
            >
          </ul>
        </address>
        <ul class="footer-social-media-list">
          <li>
            <a class="footer-social-media-item" href="">
              <svg class="footer-social-media-icon" width="22" height="22">
                <use href="/img/spryte.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="footer-social-media-item" href="">
              <svg class="footer-social-media-icon" width="22" height="22">
                <use href="/img/spryte.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-line"></div>
    <nav class="footer-navigation-menu">
      <ul class="footer-navigation-list">
        <li class="footer-navigation-item">
          <a class="footer-navigation-link" href="#header">Home</a>
        </li>
        <li class="footer-navigation-item">
          <a class="footer-navigation-link" href="#made-section"
            >How it's made</a
          >
        </li>
        <li class="footer-navigation-item">
          <a class="footer-navigation-link" href="#our-products"
            >Our products</a
          >
        </li>
        <li class="footer-navigation-item">
          <a class="footer-navigation-link" href="#top-sellers">Top sellers</a>
        </li>
        <li class="footer-navigation-item">
          <a class="footer-navigation-link" href="#chocolate-is-loved"
            >Chocolate is loved</a
          >
        </li>
      </ul>
    </nav>
  </div>
</section>
