<header class="page-header">
  <div class="header-container container">
    <a id="header" class="header-logo link" href="../index.html">
      <span class="header-logo-simply">SIMPLY</span>
      CHOCOLATE
      <svg class="header-logo-icon" width="21" height="21">
        <use href="./img/spryte.svg#icon-chocolate"></use>
      </svg>
    </a>
    <nav class="header-nav">
      <ul class="header-nav-list list">
        <li class="header-nav-item">
          <a class="header-nav-link link" href="#header">Home</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link link" href="#made-section"
            >How it`s made?</a
          >
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link link" href="#our-products">Our products</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link link" href="#top-sellers">Top sellers</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link link" href="#chocolate-is-loved"
            >Chocolate is loved</a
          >
        </li>
      </ul>
    </nav>
    <button class="mobile-menu-open-btn js-open-menu" type="button">
      <svg class="mobile-menu-open-icon" width="28" height="28">
        <use href="./img/spryte.svg#icon-burger-icon"></use>
      </svg>
    </button>

    <ul class="header-social-list list">
      <li class="header-social-item">
        <a
          class="header-social-link link"
          href="https://www.instagram.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="header-social-icon" width="24" height="24">
            <use href="./img/spryte.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-item">
        <a
          class="header-social-link link"
          href="https://twitter.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="header-social-icon" width="24" height="24">
            <use href="./img/spryte.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div class="mobile-menu js-menu-container">
    <div class="mobile-menu-container container">
      <button class="mobile-menu-close-btn js-close-menu" type="button">
        <svg class="mobile-menu-close-icon" width="20" height="20">
          <use href="./img/spryte.svg#icon-close-icon"></use>
        </svg>
      </button>
      <ul class="mobile-nav-list list">
        <li class="mobile-nav-item">
          <a class="mobile-nav-link link active" href="#header">Home</a>
        </li>
        <li class="mobile-nav-item">
          <a class="mobile-nav-link link" href="#how-its-made"
            >How it`s made?</a
          >
        </li>
        <li class="mobile-nav-item">
          <a class="mobile-nav-link link" href="#our-products">Our products</a>
        </li>
        <li class="mobile-nav-item">
          <a class="mobile-nav-link link" href="#top-sellers">Top sellers</a>
        </li>
        <li class="mobile-nav-item">
          <a class="mobile-nav-link link" href="#reviews">Chocolate is loved</a>
        </li>
      </ul>
      <ul class="mob-menu-social-list list">
        <li class="mob-menu-social-item">
          <a
            class="mob-menu-social-link link"
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="mob-menu-social-icon" width="22" height="22">
              <use href="./img/spryte.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="mob-menu-social-item">
          <a
            class="mob-menu-social-link link"
            href="https://twitter.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="mob-menu-social-icon" width="22" height="22">
              <use href="./img/spryte.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
