<section class="hero-section">
  <div class="container">
    <div class="hero-wrapper">
      <h1 class="visually-hidden">Simply chocolate</h1>
      <h2 class="hero-subtitle">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </h2>
      <div class="hero-btn-wrapper">
        <ul class="hero-list-btn list">
          <li class="hero-list-item">
            <button class="hero-buy-btn hero-btn" type="button" data-modal-open>
              Buy now
            </button>
          </li>
          <li class="hero-list-item">
            <a href="#made-section"
              ><button class="hero-how-btn hero-btn" type="button">
                How it's made
              </button></a
            >
          </li>
        </ul>
        <a href="#footer" class="hero-scroll-link link"
          >scroll down
          <button class="hero-scroll-btn" type="button">
            <svg class="hero-scroll-icon" width="16" height="16">
              <use href="/img/spryte.svg#scroll-icon"></use>
            </svg></button
        ></a>
      </div>
    </div>
  </div>
</section>
