<section class="hero-section">
  <div class="container">
    <div class="hero-wrapper">
      <h1 class="visually-hidden">Hero</h1>
      <div class="hero-content-wrapper">
        <h2 class="hero-subtitle">
          Treat yourself or a loved one to our finest ingredients for a moment
          of pure delight!
        </h2>
        <button class="hero-buy hero-btn" type="button">Buy now</button>
        <button class="hero-how hero-btn" type="button">How it’s made</button>
      </div>
      <!-- <p class="hero-text">scroll down</p>
      <svg class="hero-scroll-icon" width="28" height="28">
        <use href=""></use>
      </svg> -->
    </div>
  </div>
</section>
