<section class="hero-section">
  <div class="container">
    <div class="hero-wrapper">
      <h1 class="visually-hidden">Hero</h1>
      <h2 class="hero-subtitle">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </h2>
      <ul class="hero-list-btn list">
        <li class="hero-list-item">
          <button class="hero-buy-btn hero-btn" type="button">Buy now</button></li>
        </li>
        <li class="hero-list-item">
          <button class="hero-how-btn hero-btn" type="button">
            How it's made
          </button>
        </li>
      </ul>
      <div class="hero-scroll-thumb">
      <p class="hero-scroll-text">scroll down</p>
      <button class="hero-scroll-btn" type="button">
        <svg class="hero-scroll-icon" width="16" height="16">
          <use href="../img/spryte.svg#scroll-icon"></use>
        </svg>
      </button></div>
    </div>
  </div>
</section>
