<section class="made-section" id="made-section">
    <h2 class="made-title">
        HOW IT'S <span class="made-span">MADE?</span>
    </h2>

    <div class="made-container container">

        <div class="made-video">
            <iframe class="iframe" width="600" height="400" src="https://www.youtube.com/embed/ydRu5uSM4YA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>


        <div class="made-description">
            <p class="description-title">
                Try  our chocolates today and discover the perfect balance of flavor
            </p>

            <ul class="description-list">
                <li class="description-list-item">Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder.</li>
                <li class="description-list-item">At the same time, prepare a water bath. Melt the butter on it.</li>
                <li class="description-list-item">"Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula so that the mass becomes uniform and silky.</li>
                <li class="description-list-item">Heat the mixture over low heat, letting it barely boil.</li>
                <li class="description-list-item">Pour the chocolate into special containers (can be replaced with ice molds). Allow to cool and harden.</li>
            </ul>

        </div>
    </div>

</section>