<section class="made-section">
    <h2 class="made-title">
        HOW IT'S <span class="made-span">MADE?</span>
    </h2>

    <div class="made-container container">

        <div class="made-video">
            <img src="./img/how-its-made/image.jpg" alt="video">
        </div>


        <div class="made-description">
            <p class="description-title">
                Try  our chocolates today and discover the perfect balance of flavor
            </p>

            <ul class="description-list">
                <li>Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder.</li>
                <li>At the same time, prepare a water bath. Melt the butter on it.</li>
                <li>"Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula so that the mass becomes uniform and silky.</li>
                <li>Heat the mixture over low heat, letting it barely boil.</li>
                <li>Pour the chocolate into special containers (can be replaced with ice molds). Allow to cool and harden.</li>
            </ul>

        </div>
    </div>

</section>