<div class="buy-backdrop">
  <div class="modal-buy">
    <button class="modal-buy-close-btn" type="button">
      <svg class="modal-buy-close-icon" width="24" height="24">
        <use href="./img/spryte.svg#icon-close-icon"></use>
      </svg>
    </button>
    <h2 class="modal-buy-form-title">
      Buy <span class="modal-buy-form-title-right">now</span>
    </h2>
    <ul class="modal-buy-product-list list">
      <li class="modal-buy-product-item">
        <img src="../img/modal-buy/choco-1.png" alt="Chocolate" />
        <span class="modal-buy-weight-wrapper">100g</span>
      </li>
      <li class="modal-buy-product-item">
        <img src="../img/modal-buy/choco-2.png" alt="Chocolate" />
        <span class="modal-buy-weight-wrapper">200g</span>
      </li>
      <li class="modal-buy-product-item">
        <img src="../img/modal-buy/choco-3.png" alt="Chocolate" />
        <span class="modal-buy-weight-wrapper">300g</span>
      </li>
    </ul>
  </div>
</div>
