<section class="our-products">
  <div class="container">
    <h2 class="our-products-title">
      our <span class="our-products-title-span">products</span>
    </h2>

    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper swiper-wrapper -->
      <ul class="swiper-wrapper our-products-list">
        <!-- Slides swiper-slide -->
        <li class="our-products-item swiper-slide">
          <img
            srcset="
              /img/our-products/orange@1x.jpg 1x,
              /img/our-products/orange@2x.jpg 2x
            "
            src="/img/our-products/orange@1x.jpg"
            alt="orange dark-chocolate"
            width="230"
            height="201"
          />
          <div class="our-products-chocolate-describe">
            <h3 class="our-products-chocolate-name">Orange</h3>
            <p class="our-products-chocolate-type">Dark chocolate</p>
            <button class="button our-products-chocolate-button">45 uah</button>
          </div>
        </li>
        <li class="our-products-item swiper-slide">
          <img
            srcset="
              /img/our-products/apple-cranberry@1x.jpg 1x,
              /img/our-products/apple-cranberry@2x.jpg 2x
            "
            src="/img/our-products/apple-cranberry@1x.jpg"
            alt="apple-cranberry milk-chocolate"
            width="230"
            height="201"
          />
          <div class="our-products-chocolate-describe">
            <h3 class="our-products-chocolate-name">apple&cranberry</h3>
            <p class="our-products-chocolate-type">Milk chocolate</p>
            <button class="button our-products-chocolate-button">50 uah</button>
          </div>
        </li>
        <li class="our-products-item swiper-slide">
          <img
            srcset="
              /img/our-products/lime-sea-salt@1x.jpg 1x,
              /img/our-products/lime-sea-salt@2x.jpg 2x
            "
            src="/img/our-products/lime-sea-salt@1x.jpg"
            alt="lime-sea-salt dark-chocolate"
            width="230"
            height="201"
          />
          <div class="our-products-chocolate-describe">
            <h3 class="our-products-chocolate-name">lime&sea salt</h3>
            <p class="our-products-chocolate-type">Dark chocolate</p>
            <button class="button our-products-chocolate-button">66 uah</button>
          </div>
        </li>
        <li class="our-products-item swiper-slide">
          <img
            srcset="
              /img/our-products/pineapple@1x.jpg 1x,
              /img/our-products/pineapple@2x.jpg 2x
            "
            src="/img/our-products/pineapple@1x.jpg"
            alt="pineapple dark-chocolate"
            width="230"
            height="201"
          />
          <div class="our-products-chocolate-describe">
            <h3 class="our-products-chocolate-name">pineapple</h3>
            <p class="our-products-chocolate-type">Dark chocolate</p>
            <button class="button our-products-chocolate-button">54 uah</button>
          </div>
        </li>
        <li class="our-products-item swiper-slide">
          <img
            srcset="
              /img/our-products/classic-milk@1x.jpg 1x,
              /img/our-products/classic-milk@2x.jpg 2x
            "
            src="/img/our-products/classic-milk@1x.jpg"
            alt="classic milk-chocolate"
            width="230"
            height="201"
          />
          <div class="our-products-chocolate-describe">
            <h3 class="our-products-chocolate-name">classic</h3>
            <p class="our-products-chocolate-type">Milk chocolate</p>
            <button class="button our-products-chocolate-button">45 uah</button>
          </div>
        </li>
        <li class="our-products-item swiper-slide">
          <img
            srcset="
              /img/our-products/honey@1x.jpg 1x,
              /img/our-products/honey@2x.jpg 2x
            "
            src="/img/our-products/honey@1x.jpg"
            alt="honey milk-chocolate"
            width="230"
            height="201"
          />
          <div class="our-products-chocolate-describe">
            <h3 class="our-products-chocolate-name">honey</h3>
            <p class="our-products-chocolate-type">Milk chocolate</p>
            <button class="button our-products-chocolate-button">50 uah</button>
          </div>
        </li>
        <li class="our-products-item swiper-slide">
          <img
            srcset="
              /img/our-products/roasted-fruits@1x.jpg 1x,
              /img/our-products/roasted-fruits@2x.jpg 2x
            "
            src="/img/our-products/roasted-fruits@1x.jpg"
            alt="roasted-fruits dark-chocolate"
            width="230"
            height="201"
          />
          <div class="our-products-chocolate-describe">
            <h3 class="our-products-chocolate-name">roasted fruits</h3>
            <p class="our-products-chocolate-type">Dark chocolate</p>
            <button class="button our-products-chocolate-button">66 uah</button>
          </div>
        </li>
        <li class="our-products-item swiper-slide">
          <img
            srcset="
              /img/our-products/classic-white@1x.jpg 1x,
              /img/our-products/classic-white@2x.jpg 2x
            "
            src="/img/our-products/classic-white@1x.jpg"
            alt="classic white-chocolate"
            width="230"
            height="201"
          />
          <div class="our-products-chocolate-describe">
            <h3 class="our-products-chocolate-name">classic</h3>
            <p class="our-products-chocolate-type">White chocolate</p>
            <button class="button our-products-chocolate-button">54 uah</button>
          </div>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
