<section class="top-sellers">
  <div class="top-sellers-container container">
    <h1 class="visually-hidden">Top sellers</h1>
    <h2 class="top-sellers-title">
      <span class="top-sellers-span">TOP</span> SELLERS
    </h2>
    <div class="top-sellers-img">
      <ul class="top-sellers-menu">
        <li class="top-sellers-items">
          <picture>
            <source
              srcset="/img/top-sellers/top-desktop-img1@2x.jpg 2x"
              media="(min-width:1200px)"
            />
            <source
              srcset="/img/top-sellers/top-tablet-img1@2x.jpg 2x"
              media="(min-width:768px)"
            />
            <source
              srcset="/img/top-sellers/top-mobile-img1@2x.jpg 2x"
              media="(min-width:320px)"
            />
            <img
              src="/img/top-sellers/top-mobile-img1.jpg"
              alt="black chocolate"
            />
          </picture>
          <p class="top-sellers-mobile-text">
            Crazy enough chocolate originates from a bean just like the coffee
            bean called Cacao. Cacao has been around for thousands of years and
            was first discovered by the Native American tribe called the Mayans.
          </p>
        </li>
        <li class="top-sellers-items">
          <picture>
            <source
              srcset="/img/top-sellers/top-desktop-img2@2x.jpg 2x"
              media="(min-width:1200px)"
            />
            <source
              srcset="/img/top-sellers/top-tablet-img2@2x.jpg 2x"
              media="(min-width:768px)"
            />
            <source
              srcset="/img/top-sellers/top-mobile-img2@2x.jpg 2x"
              media="(min-width:320px)"
            />
            <img
              src="/img/top-sellers/top-mobile-img2.jpg"
              alt="chocolate with almonds and raisins"
            />
          </picture>
        </li>
        <li class="top-sellers-items">
          <picture>
            <source
              srcset="/img/top-sellers/top-desktop-img3@2x.jpg 2x"
              media="(min-width:1200px)"
            />
            <source
              srcset="/img/top-sellers/top-tablet-img3@2x.jpg 2x"
              media="(min-width:768px)"
            />
            <source
              srcset="/img/top-sellers/top-mobile-img3@2x.jpg 2x"
              media="(min-width:320px)"
            />
            <img
              src="/img/top-sellers/top-mobile-img3.jpg"
              alt="chocolate with almonds and raisins"
            />
          </picture>
        </li>
      </ul>
    </div>
    <div class="top-sellers-bottom">
      <p class="top-sellers-text">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button type="button" class="top-sellers-btn modal-button">
        Buy now
      </button>
    </div>
  </div>
</section>
