/* SECTION COMPONENTS */
.components-sec {
  padding-top: 72px;
}
@media screen and(min-width:768px) {
  .components-sec {
    padding-top: 100px;
  }
}
@media screen and(min-width:1200px) {
  .components-sec {
    padding-top: 128px;
  }
}
/* HEADER COMPONENTS */
.header-components {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;

  text-align: center;

  color: var(--main-dark-font-color);
  font-weight: 600;
  font-size: 20px;
  line-height: 0.98;
  letter-spacing: -0.03em;
}

.style-taste {
  color: var(--accent-color);
}
@media only screen and (min-width: 768px) {
  .header-components {
    text-align: center;
    max-width: 411px;
    font-size: 24px;
    line-height: 0.96;
  }
}
/* TEXT ABOUT SECTION */
.text-about-choc {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  text-align: center;
  max-width: 335px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.05;
  letter-spacing: -0.02em;
}
@media screen and (min-width: 768px) {
  .text-about-choc {
    max-width: 486px;
  }
}
/* LI */
.ul-components {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .ul-components {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .ul-components {
    flex-direction: row;
    order: ;
    flex-wrap: nowrap;
    gap: 19px;
  }
}

/* TEXT */
.items-components {
  position: relative;
}
.text-products-light {
  display: flex;
  position: absolute;
  left: 28px;
  bottom: 28px;

  /* margin-bottom: auto; */
  color: var(--main-light-font-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.05;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.dark {
  color: var(--main-dark-font-color);
}

/* BOX */
.box-style {
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
  max-width: 335px;
  height: 270px;
  background-color: var(--accent-color);
  border-radius: 15px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box-style:nth-child(2) {
  background-color: var(--main-light-font-color);
  border: 1px solid var(--accent-color);
}
.box-style:nth-child(2):hover,
.box-style:nth-child(2):focus {
  border: hidden;
}
.box-style:nth-child(4) {
  background-color: var(--main-light-font-color);
  border: 1px solid var(--accent-color);
}
.box-style:nth-child(4):hover,
.box-style:nth-child(4):focus {
  border: hidden;
}
.box-style:nth-child(3) {
  background-color: var(--main-dark-font-color);
}
@media screen and (min-width: 768px) {
  .box-style {
    flex-basis: calc((100% - 32px) / 2);
  }
  .item-1 {
    order: 1;
  }
  .item-2 {
    order: 3;
  }
  .item-3 {
    order: 4;
  }
  .item-4 {
    order: 2;
  }
}
@media screen and (min-width: 1200px) {
  .box-style {
    max-width: 270px;
  }
  .item-1 {
    order: 1;
  }
  .item-2 {
    order: 2;
  }
  .item-3 {
    order: 3;
  }
  .item-4 {
    order: 4;
  }
}

/* IMAGES */
.images-components {
  display: flex;
  padding-top: 28px;
  padding-bottom: 25px;
  justify-content: center;
}
/* OVERLAY */
.text-overlay {
  margin: 0;
  margin-left: auto;
  margin-right: auto;

  text-align: left;
  max-width: 335px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.05;
  letter-spacing: -0.02em;
}
@media screen and(min-width:1200px) {
  .text-overlay {
  }
}
/* .overlay-comp {
  position: relative;
  overflow: hidden;
}
.overlay-comp-cont {
  position: absolute;

  transform: translate(-100%, 0);
  width: 100%;
  height: 270px;
  padding: 28px;
  background-color: var(--main-light-font-color);
} */
.overlay-comp {
  display: block;
  overflow: hidden;

  width: 100%;
  height: 100%;
  padding: 28px;
  border-radius: 15px;
  background-color: var(--main-light-font-color);
  position: absolute;

  left: 0;
  top: 0;
  transform: translateY(100%);
  transition: transform 1000ms;
}
@media screen and (min-width: 1200px) {
  .overlay-comp {
    padding: 20px;
  }
}

.box-style:hover .overlay-comp,
.box-style:focus .overlay-comp {
  transform: translateY(0);
}

/* H3 */
.header-three-comp {
  margin-bottom: 8px;

  color: var(--main-dark-font-color);
  font-weight: 600;
  text-align: left;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
/* BUTTON */
.list-btn-comp {
  display: flex;
  gap: 6px;
  margin-bottom: 14px;
}
.btn-comp {
  display: block;
  padding: 6px 16px;
  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 35px;
  font-weight: 400;
  font-size: 10px;
  line-height: 0.98;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-comp:hover,
.btn-comp:focus {
  color: var(--main-light-font-color);
  background-color: var(--accent-color);
}

.hidden {
  overflow: hidden;
  height: 140px;
}
