.footer-section {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: rgba(30, 24, 35, 1);
}
.footer-title {
  color: var(--main-light-font-color);
  max-width: 300px;
  font-size: 24px;
  line-height: 1.17;
  font-weight: 500;
  margin-bottom: 32px;
}
.footer-marked-word {
  color: var(--accent-color);
}
.footer-adress-wrapper {
  position: relative;
}
.footer-contacts-text {
  color: var(--main-light-font-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 14px;
}
.footer-line {
  left: 0;
  bottom: -40px;
  max-width: 335px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 32px;
}

.footer-contacts {
  position: relative;
}
.footer-contacts-list {
  margin-bottom: 32px;
}
.footer-contacts-item {
  color: var(--main-light-font-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
}
.footer-contacts-item:not(:last-child) {
  margin-bottom: 4px;
}
.footer-navigation-link {
  color: var(--main-light-font-color);
  font-style: normal;
}
.footer-navigation-item:not(:last-child) {
  margin-bottom: 18px;
}
.footer-social-media-icon {
  stroke: var(--main-light-font-color);
}
.footer-social-media-list {
  display: flex;
  gap: 14px;
  position: absolute;
  right: 0px;
  top: 0;
}

/* Tablet-styles */
@media screen and (min-width: 768px) {
  .footer-wrapper {
    display: flex;
    gap: 124px;
  }
  .footer-title {
    font-size: 28px;
    line-height: 1.2;
    max-width: 300px;
  }
  .footer-contacts-list {
    display: flex;
    flex-direction: column;
  }
  .footer-contacts {
    position: static;
  }
  .footer-social-media-list {
  }
  .footer-adress-wrapper {
    position: static;
  }
  .footer-wrapper {
    position: relative;
  }
}
