@media screen and (max-width: 375px) {
  .footer-container {
    width: 335px;
    margin-left: auto;
    margin-right: auto;
  }
}
.footer-section {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: rgba(30, 24, 35, 1);
}
.footer-title {
  color: var(--main-light-font-color);
  font-size: 24px;
  line-height: 1.17;
  font-weight: 500;
}
.footer-marked-word {
}
