/* Title */

.made-title {
  text-align: center;
  margin-bottom: 50px;
}

.made-span {
  color: var(--accent-color);
}

/* Section */

/* Video */

.iframe {
  border-radius: 15px;
}

/* Desription */
.made-video-wrapper {
  width: 335px;
  height: 500px;
  overflow: hidden;
  border-radius: 15px;
}

.description-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: var(--main-dark-font-color);
  margin-bottom: 14px;
  max-width: 350px;
  /* margin-left: 32px;
  margin-top: 32px; */
}

.description-list {
  max-width: 100%;
  /* margin-left: 48px; */
  display: flex;
  flex-direction: column;
  list-style: none;
}

.made-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--main-light-font-color);
  border-radius: 15px;
  padding: 20px 14px;
}

.description-list-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: var(--main-dark-font-color);
}
.description-list-item:not(:last-child) {
  margin-bottom: 18px;
}

.description-list-item::before {
  content: '';
  display: inline-block;
  margin-right: 8px;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: rgba(76, 76, 76, 1);
  border: 1px solid rgba(236, 237, 237, 1);
}

/* Styles for iframe */
@media only screen and (min-width: 320px) and (max-width: 427.8px) {
  .iframe {
    width: 100%;
    height: 500px;
  }

  .made-video {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (min-width: 428px) and (max-width: 767.8px) {
  .iframe {
    width: 335px;
    height: 500px;
  }
}

/* Styles for mobile */
@media only screen and (min-width: 320px) and (max-width: 767.8px) {
  .made-section {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .made-title {
    margin-bottom: 32px;
  }

  .made-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .made-description {
    display: flex;
    width: 335px;
  }

  .description-list {
    gap: 18px;
    /* margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 14px; */
  }

  .description-title {
    margin-bottom: 20px;
  }
}

/* Styles for tablet */
@media only screen and (min-width: 768px) and (max-width: 1199.8px) {
  .iframe {
    width: 614px;
    height: 400px;
  }

  .made-video {
    justify-content: center;
    width: 614px;
    height: 400px;
  }

  .made-container {
    flex-direction: column;
    align-items: center;
    display: flex;
    padding-left: 77px;
    padding-right: 77px;
    gap: 20px;
  }
  .made-video-wrapper {
    width: 613px;
    height: 400px;
    overflow: hidden;
  }
  .made-chocolate-video {
    height: 100%;
  }

  .made-section {
    padding-top: 100px;
  }

  .made-description {
    justify-content: center;
    width: 614px;
    padding: 32px;
  }

  .description-list {
    text-align: left;
    /* gap: 18px; */
    /* padding-right: 102px;
    padding-bottom: 32px; */
  }
}

/* Style for desktop */
@media only screen and (min-width: 1200px) {
  .iframe {
    width: 600px;
    height: 400px;
  }

  .made-container {
    display: flex;
    gap: 20px;
  }
  .made-section {
    padding-top: 128px;
  }

  .made-description {
    width: 516px;
    padding: 32px;
  }
  .made-video-wrapper {
    width: 600px;
    height: 400px;
    overflow: hidden;
  }
  .made-chocolate-video {
    height: 100%;
  }
  .description-list-item:not(:last-child) {
    margin-bottom: 24px;
  }
  .description-title {
    margin-bottom: 28px;
  }
}
