/* Title */

.made-title {
    text-align: center;
    margin-bottom: 50px;
}

.made-span {
   color: var(--accent-color);
}

/* Section */

.made-section {
    margin: 128px 0;
}

.made-container {
    display: flex;
    /* width: 100%; */
    gap: 20px;
}


/* Video */

.made-video {
    width: 600px;
    height: 400px;
    margin-right: 0;
}


/* Desription */
.iframe {
    width: 600px;
    height: 400px;
    border-radius: 15px;
}

.description-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: var(--main-dark-font-color);
    margin-bottom: 28px;
    max-width: 350px;
    margin-left: 32px;
    margin-top: 32px;
}

.description-list {
    max-width: 100%;
    margin-left: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-right: 32px;
}

.made-description {
    display: flex;
    flex-direction: column;
    /* gap: 28px; */
    background-color: var(--main-light-font-color);
    width: 516px;
    /* height: 400px; */
    /* margin-right: auto; */
    border-radius: 15px;
    
}


.description-list-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: var(--main-dark-font-color);

}

ul {
    list-style: disc;
}