.review-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .review-modal-is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  .review-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 311px;
    min-height: 471px;
    background-color: var(--dark-white-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 32px 24px;
  }
  
  .review-modal-close-svg {
    stroke: #111111;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .review-modal-close-btn {
    background-color: transparent;
    border-radius: 50%;
    border: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .review-modal-close-btn:hover .review-modal-close-svg, 
  .review-modal-close-btn:focus .review-modal-close-svg{
    stroke: var(--accent-color);
  }
  
  .review-modal-text {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--black-color);
    margin-bottom: 32px;
  }
  
  .review-modal-span {
    color: var(--accent-color);
  }
  
  .review-modal-input {
    height: 45px;
    width: 100%;
    padding: 14px 18px;
    border-radius: 8px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  }
  
  .review-modal-tel-input {
    height: 45px;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 18px;
    padding-left: 106px;
    border-radius: 8px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  }
  
  .review-modal-input::placeholder,
  .review-modal-tel-input::placeholder,
  .review-modal-textarea::placeholder {
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.3);
  }
  
  .review-modal-tel-label::before {
    content: '';
    position: absolute;
    width: 1.5px;
    height: 25px;
    background-color: rgba(64, 64, 64, 0.3);
    left: 104px;
    top: 10px;
    z-index: 1;
  }
  
  .review-modal-tel-label::after {
    content: '+380';
    position: absolute;
    width: 34px;
    height: 17px;
    color: #000000;
    z-index: 1;
    left: 50px;
    top: 13.5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.21;
    letter-spacing: -0.02em;
  }
  
  .review-modal-wrap-cnt {
    margin-bottom: 14px;
    position: relative;
  }
  
  .ukr-flag-icon {
    position: absolute;
    top: 15px;
    left: 18px;
  }
  
  .review-modal-text-area {
    margin-bottom: 18px;
  }
  
  .review-modal-textarea {
    box-sizing: border-box;
    width: 100%;
    height: 91px;
    padding: 14px 18px;
    border-radius: 8px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
    resize: none;
  }
  
  .review-modal-button {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: var(--white-color);
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    padding: 12px 28px;
    background-color: var(--accent-color);
    border-radius: 100px;
    cursor: pointer;
    border: none;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .review-modal-button:hover,
  .review-modal-button:focus {
      background-color: var(--button-bg-hover);
      color: var(--accent-color);
  }
  