/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./benefits.css');
@import url('./components.css');
@import url('./how-its-made.css');
@import url('./our-products.css');
@import url('./top-sellers.css');
@import url('./reviews.css');
@import url('./footer.css');

:root {
  --primary-font: Montserrat, sans-serif;
  --main-dark-font-color: rgba(17, 17, 17, 1);
  --main-light-font-color: rgba(255, 255, 255, 1);
  --accent-color: rgba(253, 146, 34, 1);
  --main-dark-background-color: rgba(30, 24, 35, 1);
}
