.top-sellers {
  padding: 72px 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .top-sellers {
    padding: 100px 0;
  }
}

@media screen and (min-width: 1200px) {
  .top-sellers {
    padding: 128px 0;
  }
}

.top-sellers-title {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--main-dark-font-color);
}

@media screen and (min-width: 768px) {
  .top-sellers-title {
    font-size: 24px;
    line-height: 1.16;
  }
}

.top-sellers-span {
  color: var(--accent-color);
}

.top-sellers-img {
  margin-top: 32px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .top-sellers-img {
    margin-top: 50px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .top-sellers-menu {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
}

.top-sellers-items:last-child {
  display: none;
}

@media screen and (min-width: 1200px) {
  .top-sellers-items:last-child {
    display: unset;
  }
}

.top-sellers-items img {
  border-radius: 15px;
  background-color: var(--main-dark-background-color);
}

.top-sellers-mobile-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: var(--main-dark-font-color);
  margin-top: 20px;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .top-sellers-mobile-text {
    display: none;
  }
}

.top-sellers-bottom {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .top-sellers-bottom {
    text-align: start;
    display: flex;
    justify-content: space-between;
  }
}

.top-sellers-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: var(--main-dark-font-color);
  width: 407px;
}

@media screen and (max-width: 767px) {
  .top-sellers-text {
    display: none;
  }
}

.top-sellers-btn {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  color: var(--main-light-font-color);
  background-color: var(--accent-color);
  border-radius: 100px;
  width: 120px;
  height: 40px;
  text-align: center;
  border: none;

  transition: var(--transition-main);
}

.top-sellers-btn:hover,
.top-sellers-btn:focus {
  background-color: #fcf1e0;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .top-sellers-btn {
    font-size: 18px;
    line-height: 1.22;
    width: 162px;
    height: 50px;
  }
}